/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @@import "bootstrap";

 /* 全体的なスタイル
 -------------------------------------------------- */
 /* フッターの下の空白と明るめの本文 */

 body {
   padding-top: 3rem;
   padding-bottom: 3rem;
   color: #5a5a5a;
 }


 /* カルーセルをカスタマイズ
 -------------------------------------------------- */

 /* カルーセルの基本クラス */
 .carousel {
   margin-bottom: 4rem;
 }
 /* 画像を配置しているので、キャプションを手助けする必要がある */
 .carousel-caption {
   bottom: 3rem;
   z-index: 10;
 }

 /* img要素の配置のために高さを宣言 */
 .carousel-item {
   height: 32rem;
 }
 .carousel-item > img {
   position: absolute;
   top: 0;
   left: 0;
   min-width: 100%;
   height: 32rem;
 }


 /* マーケティング・コンテンツ
 -------------------------------------------------- */

 /* カルーセルの下の3列の中のテキストを整列 */
 .marketing .col-lg-4 {
   margin-bottom: 1.5rem;
   text-align: center;
 }
 .marketing h2 {
   font-weight: 400;
 }
 .marketing .col-lg-4 p {
   margin-right: .75rem;
   margin-left: .75rem;
 }


 /* フィーチャー
 ------------------------- */

 .featurette-divider {
   margin: 5rem 0; /* ブートストラップの&lt;hr&gt;をもっと外に出す */
 }

 /* マーケティングの見出しを細めにする */
 .featurette-heading {
   font-weight: 300;
   line-height: 1;
   letter-spacing: -.05rem;
 }


 /* レスポンシブCSS
 -------------------------------------------------- */

 @media (min-width: 40em) {
   /* カルーセルコンテンツのサイズを大きくする */
   .carousel-caption p {
     margin-bottom: 1.25rem;
     font-size: 1.25rem;
     line-height: 1.4;
   }

   .featurette-heading {
     font-size: 50px;
   }
 }

 @media (min-width: 62em) {
   .featurette-heading {
     margin-top: 7rem;
   }
 }

 .card-title{
   text-align: center;
 }


 /* footer */

 footer {
   margin-top: 45px;
   padding-top: 5px;
   border-top: 1px solid #eaeaea;
   color: #777;
 }

 footer a {
   color: #555;
 }

 footer a:hover {
   color: #222;
 }

 footer small {
   float: left;
 }

 footer ul {
   float: right;
   list-style: none;
 }

 footer ul li {
   float: left;
   margin-left: 15px;
 }


 /* header */

 #logo {
   float: left;
   margin-right: 10px;
   font-size: 1.7em;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 9px;
   font-weight: bold;
 }

 #logo:hover {
   color: #fff;
   text-decoration: none;
 }

body {
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  border: solid 1px black;
}

.header{
  text-align: left;
}
