<header class="navbar navbar-fixed-top navbar-dark" style="background-color:#abcdef;">
  <div class="container">
    <%=link_to "App name", posts_path, id: "logo" %>
    <nav class="nav">
      <a class="nav-link">
        <% if user_signed_in? %>
        <%= link_to current_user.name,edit_user_registration_path %>さんがログイン中</a>
        <% end %>
        <a class="nav-link"><%=link_to "ユーザー情報変更", edit_user_registration_path %></a>
        <a class="nav-link"><%= link_to "ログアウト", destroy_user_session_path %></a>
    </nav>
  </div>
</header>
