<header class="navbar navbar-fixed-top navbarinverse">
  <div class="container">
    <%=link_to "App", '/' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "ホーム画面へ", '/' %></li>
        <li><%=link_to "使いかた", static_pages_about_path %></li>
      </ul>
    </nav>
  </div>
</header>
