<header class="navbar navbar-fixed-top navbarinverse">
  <div class="container">
    <%=link_to "App name", posts_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "ホーム画面へ", '/' %></li>
        <li><%=link_to "使いかた", static_pages_about_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>
